// Первая секция

.section--first {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section__feature {
  display: flex;

  padding: 0;
  margin: 0;
  list-style: none;
}

.section__item {
  width: calc((100% - 90px) / 4);


  &:not(:first-child) {
    margin-left: 30px;
  }
}


.section__icon {
  display: flex;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.section__title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  &--fontsize {
  margin-top: 0px;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: start;
  }
}

.section__text {
  color: $secondary-text-color;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}
