// Третья секция

.section--third {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.section__employees {
  width: calc((100% - 90px) / 4);
  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px; 

  &:not(:first-child) {
  margin-left: 30px;
  }
}

.employee {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;


  .employee__name {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }

  .employee__text {
    color: $secondary-text-color;
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }
}

.social-network {
  display: flex;
  justify-content: center;

  &__list:not(:first-child) {
  margin-left: 10px;
  }

  &__list {
  padding: 0;
  margin: 0;
  list-style: none;
  }
}

.social-network__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-network__svg {
  fill: #afb1b8;
  transition: fill $transition-duration $timing-function;


  .social-network__link:hover &,
  .social-network__link:focus & {
    fill: #ffffff;
  }
}